# CI/CD
REGISTRY=

# Project
PROJECT_NAME=

# Zookeeper
ZOOKEEPER_VERSION=
ZOOKEEPER_HOST=
ZOOKEEPER_CLIENT_PORT=
ZOOKEEPER_TICK_TIME=
ZOOKEEPER_CONNECTION_URL=

# Kafka
KAFKA_VERSION=
KAFKA_HOST=
KAFKA_PORT=
KAFKA_URL=
KAFKA_PORT_INTERNAL=
KAFKA_BROKER_ID=
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=

# Schema Registry
SCHEMA_REGISTRY_VERSION=
SCHEMA_REGISTRY_HOST=
SCHEMA_REGISTRY_PORT=
SCHEMA_REGISTRY_LISTENERS=
SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS=
SCHEMA_REGISTRY_DEBUG=

# Consumer
CONSUMER_TARGET=

# Producer
PRODUCER_TARGET=

# Restart Policy
RESTART_POLICY=

# Docker Compose Resources
ZOOKEEPER_CPUS=
ZOOKEEPER_MEM_LIMIT=
ZOOKEEPER_MEM_RESERVATION=
KAFKA_CPUS=
KAFKA_MEM_LIMIT=
KAFKA_MEM_RESERVATION=
SCHEMA_REGISTRY_CPUS=
SCHEMA_REGISTRY_MEM_LIMIT=
SCHEMA_REGISTRY_MEM_RESERVATION=
PRODUCER_CPUS=
PRODUCER_MEM_LIMIT=
PRODUCER_MEM_RESERVATION=
CONSUMER_CPUS=
CONSUMER_MEM_LIMIT=
CONSUMER_MEM_RESERVATION=
